torch==1.12.1
datasets
matplotlib
termcolor
pyserini
evaluate
nltk
rouge-score
accelerate
wandb
peft
trlx
textstat
numpy
bert-score
summac
openai
transformers
jupyter
notebook
pandas
py-readability-metrics
evaluate
cython
spacy
fairseq
benepar
dill==0.3.4
sciscpacy